:root {
  --black1: #303030;
  --black2: #404040;
  --black3: #606060;
  --white1: #ccc;
  --white2: #aaa;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: var(--white1);
  text-decoration: none;
}

body {
  width: 300px;
  background-color: var(--black2);
  min-height: 70px;
}

img {
  max-width: 150px;
}

nav {
  position: fixed;
  width: 100%;
  background-color: var(--black1);
}

#searchBar {
  margin: 10px;
  padding: 5px;
  width: 90%;
  background-color: var(--black3);
  border: none;
  font-size: 12pt;
}

#checkboxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  flex: 0 0 100%;
}

#checkboxes label {
  margin-right: 10px;
  margin-left: 3px;
}

#contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  text-align: center;
  background-color: var(--black3);
  margin: 10px;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
}

.content:first-child {
  margin-top: 80px;
}

.content:last-child {
  margin-bottom: 50px;
}

.contentTitle {
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 5px;
}

.username {
  display: flex;
  justify-content: center;
  align-items: center;
}

.verified {
  max-width: 20px;
  margin-left: 5px;
}

#up {
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
  background-color: var(--white2);
  opacity: 0.6;
  margin: 10px;
  padding: 5px 6px;
  border: none;
  border-radius: 20px;
  outline: none;
}

#up img {
  height: 20px;
}

#up:hover {
  cursor: pointer;
}
